.footer-container{
    margin-top: 50px;
    position:relative;
    left:0;
    bottom:0;
    right:0;
    width: 100vw;
}
.orange-text{
    color: #F73F1D;
}

.font-weight-bold {
    font-weight: bold;
}