
.wrapper{
    background: #ececec;
    padding: 0, 20px 0 20px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.side-image{
    background-image: url("../img/imageLogin.png") !important ;
    background-color: red !important;
    background-position: center;
    background-size: cover;
}
.imageLogo{
    width:35px;
    position: absolute;
    top: 30px;
    left: 30px;

}